<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.DeviceScanActivity"
            android:label="@string/title_activity_device_scan"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name="com.example.ble.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.example.activity.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>